* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #747777;
}

.container {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 16px;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 2px;
}

header {
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin: auto;
  margin-top: 16px;
}

.profile-info {
  margin-left: 16px;
}

.profile-info h1 {
  font-size: 1.375rem;
  font-weight: bold;
  color: #393536;
}

.profile-info h2 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #747777;
}

section h2 {
  color: #393536;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.email {
  color: #393536;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: right;
}

.box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.info {
  font-size: 0.75rem;
  margin-left: 8px;
}

.info h3 {
  color: #393536;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 0.875rem;
}

ul li {
  font-size: 0.875rem;
}

@media (max-width: 1024px) {
  header {
    margin-left: 16px;
    margin-right: 16px;
  }

  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}
